USE [ListaTarea]
GO
/****** Object:  Table [dbo].[tarea]    Script Date: 2/08/2025 1:15:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tarea](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nomTarea] [varchar](30) NOT NULL,
	[fechaLim] [date] NOT NULL,
	[hecha] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tarea] ON 

INSERT [dbo].[tarea] ([id], [nomTarea], [fechaLim], [hecha]) VALUES (2, N'sacudir', CAST(N'2025-11-25' AS Date), 0)
INSERT [dbo].[tarea] ([id], [nomTarea], [fechaLim], [hecha]) VALUES (3, N'ejercicio', CAST(N'2025-12-24' AS Date), 0)
INSERT [dbo].[tarea] ([id], [nomTarea], [fechaLim], [hecha]) VALUES (4, N'programar', CAST(N'2070-11-25' AS Date), 0)
SET IDENTITY_INSERT [dbo].[tarea] OFF
GO
ALTER TABLE [dbo].[tarea] ADD  DEFAULT ((0)) FOR [hecha]
GO
/****** Object:  StoredProcedure [dbo].[PAgregarTarea]    Script Date: 2/08/2025 1:15:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PAgregarTarea]
	@nomTarea varchar(30),
	@fechaLim Date
as
	insert into tarea (nomTarea, fechaLim) values (@nomTarea, @fechaLim);
GO
/****** Object:  StoredProcedure [dbo].[PCompletada]    Script Date: 2/08/2025 1:15:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PCompletada]
	@nomTarea varchar(30)
as
	update tarea set hecha=1 where nomTarea = @nomTarea;
GO
/****** Object:  StoredProcedure [dbo].[PEliminar]    Script Date: 2/08/2025 1:15:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PEliminar]
	@nomTarea varchar(30)
as
	delete from tarea where nomTarea = @nomTarea;
GO
/****** Object:  StoredProcedure [dbo].[Plista]    Script Date: 2/08/2025 1:15:05 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Plista]
as
	select * from tarea;
GO
